/*

  # CORES

  cinza: #f7f7f7
  cinza-escuro: #ee2211

  # Tipografia

  fonte: Arial
  parágrafos: 20px
  vantagas bikcraft: 64px
  
  # Tamanhos
  
  conteúdo pincipal: máximo 1000px

  */

body {
  
}

p {
  font-size: 20px;
}

/* HEADER */

/* MENU */

/* CONTENT */

/* BIKE-INFO */

/* IMAGE */

/* BENEFITS */

/* FOTTER */

