[required] {
  border: 2px solid tomato;
}

[href='#contact'] {
  border: 2px solid greenyellow;
}

[href^='#'] {
  background: tomato;
}

[href$='.com'] {
  background: forestgreen;
}

section > h2 {
  color: tomato;
}

p {
  margin: 0;
}

article {
  background: lightgreen;
  padding: 10px;
}

p + p {
  margin-top: 20px;
}

/* article p:last-child {
  margin-bottom: 0;
} */

* {
  border: 1px solid red;
}