#budget {
  background: linear-gradient(var(--color-11) 600px, var(--color-1) 0px);
}

.budget {
  display: grid;
  grid-template-columns: 5fr 7fr;
  padding-bottom: 125px;
}

.budget h2 {
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
}

.budget h2::before {
  display: inline-block;
  content: '';
  width: 4px;
  height: 8px;
  background-color: var(--color-p1);
  position: absolute;
  left: -12px;
}

.budget-product,
.budget-data {
  padding: 60px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.budget-product {
  border-radius: 5px 0 0 5px;
  background: var(--color-12);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
  gap: 20px;
}

.budget-product > * {
  grid-column: 1 / -1;
}

.budget-product > label {
  grid-column: initial;
}

.budget-product label {
  color: var(--color-4);
  background-color: var(--color-10);
  display: block;
  padding: 12px 16px;
  border-radius: 4px;
  font: 400 1rem/1.5 'Poppins', sans-serif;
  cursor: pointer;
}

.budget-product label::before {
  display: inline-block;
  content: '';
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border: 1px solid var(--color-6);
  border-radius: 50%;
  margin-right: 8px;
}

.budget-product input:checked + label::before {
  border-color: var(--color-7);
  box-shadow: inset 0 0 0 3px var(--color-0), inset 0 0 0 6px var(--color-7);
}

.budget-product input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.budget-product input:checked + label {
  background: var(--color-0);
  color: var(--color-11);
}

.budget-data {
  border-radius: 0 5px 5px 0;
  background: var(--color-0);
}

#bikcraft:checked ~ #budget-bikcraft,
#insurance:checked ~ #budget-insurance {
  display: block;
}
